@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
}

body {
    background-color: #FFF;
}

body, input, button {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* alinha os itens na horizontal */
}

header {
    width: 100%;
    height: 20vh;
    text-align: center;
    background-color: blue;
    color: #FFF;;
    display: flex;
    justify-content: center; /* alinha os itens na horizontal */
    align-items: center;
}

.main {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    background: #FFF;
    padding: 30px;
}

.main > p {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 30px;
}

.main form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main form input {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 2px;
    height: 45px;
    padding: 0 15px;
    font-size: 16px;
}

.main form button.btn {
    border: 0;
    border-radius: 2px;
    width: 100%;
    height: 42px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: bold;
    background: #f05a5b;
    color: #FFF;
    cursor: pointer;
}
